nav ul ul 
{
	display: none;
}

nav ul li:hover > ul 
{
	display: block;
}

nav ul 
{
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 1em;
	border-radius: 1.5em;  
	list-style: none;
	position: relative;
	display: inline-table;
	width: 95%; // Set the width of the navbar as a percentage of the window width
}

nav ul:after 
{
	content: ""; clear: both; display: block;
}

nav ul li {
	float: left;
	position: relative;
	width: 20%; // Set the width of the nav bar selections
}

nav ul li:hover 
{
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}

nav ul li:hover a 
{
	color: #fff;
}

nav ul li a 
{
	display: block;
	padding: 5px 4px; // Height first, width second
	color: #757575; 
	text-decoration: none;
	text-align: center; // Centers all the text in the navbar
}

nav ul ul {
	background: #5f6975; 
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
}

nav ul ul li 
{
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
	width: 100%; // Has to be here to set the length of the clickable area of the line items which appear on hover.
}

nav ul ul li a 
{
	padding: 5px 4px;
	color: #fff;
}

nav ul ul li a:hover 
{
	background: #4b545f;
}

nav ul ul ul 
{
	position: absolute; 
	left: 100%; 
	top:0;
}

